<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Clients</title>
</head>

<body>

<div id="header">
    <div id="header_left">
        <a href="/">Starting Page</a>
        <a href="/users" sec:authorize="hasRole('ADMIN')">Users</a>
    </div>
    <div id="header_right">
        <span th:text="${user.username} + ' ' + ${user.authorities}"></span>
        <a href="/logout">Logout</a>
    </div>
</div>

<h3>
    Addresses of:
    <span th:text="${client.firstName + '   ' + client.lastName + ' | ' + client.phone + ' | ' + client.email + ' | ' + client.gender.displayName}"></span>
    <span th:if="${client.isVIP}">| VIP</span>
</h3>

<div id="container">
    <form class="data_form" th:action="@{/client/{clientId}/addresses (clientId=${client.id})}" method="get">

        <h3>Sort</h3>

        <label for="sort_column">Column:</label>
        <select id="sort_column" name="sort_column" th:field="*{specification.sortColumn}">
            <option th:each="column : ${T(kteslenko.lab3.specifications.AddressSpecification.SortColumn).values()}"
                    th:value="${column}" th:text="${column.displayName}"
                    th:selected="${specification.sortColumn.equals(column)}"></option>
        </select>

        <label for="sort_direction">Direction:</label>
        <select id="sort_direction" name="sort_direction" th:field="*{specification.sortDirection}">
            <option th:each="direction : ${T(kteslenko.lab3.specifications.SortDirection).values()}"
                    th:value="${direction}" th:text="${direction.displayName}"
                    th:selected="${specification.sortDirection.equals(direction)}"></option>
        </select>

        <h3>Filters</h3>

        <label for="cod_address_filter">Cod Address:</label>
        <input type="text" name="cod_address_filter" id="cod_address_filter" pattern="\p{L}*"
               th:field="*{specification.codAddress}">

        <label for="city_filter">City:</label>
        <input type="text" name="city_filter" id="city_filter" pattern="\p{L}*"
               th:field="*{specification.city}">

        <label for="address_filter">Address:</label>
        <input type="text" name="address_filter" id="address_filter" th:field="*{specification.address}">

        <label for="point_np_filter">Point NP:</label>
        <input type="number" min="1" name="point_np_filter" id="point_np_filter" th:field="*{specification.pointNp}">

        <label for="point_ukr_post_filter">Point Ukr Post:</label>
        <input type="number" min="1" name="point_ukr_post_filter" id="point_ukr_post_filter"
               th:field="*{specification.pointUkrPost}">

        <button type="submit">Apply</button>
    </form>
    <table>

        <tr sec:authorize="hasRole('ADMIN')">
            <td colspan="9">
                <form th:action="@{/client/{id}/address/create (id=${client.id})}">
                    <button type="submit">Create</button>
                </form>
            </td>
        </tr>

        <tr>
            <th>Cod Address</th>
            <th>City</th>
            <th>Address</th>
            <th>Point NP</th>
            <th>Point Ukr Post</th>
            <th colspan="2" sec:authorize="hasRole('ADMIN')">Actions</th>
        </tr>

        <tr th:each="address : ${addresses}">
            <td th:text="${address.codAddress}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.address}"></td>
            <td th:text="${address.pointNp}"></td>
            <td th:text="${address.pointUkrPost}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/client/{clientId}/address/{id}/edit (clientId=${client.id},id=${address.id})}">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/client/{clientId}/address/{id}/delete (clientId=${client.id},id=${address.id})}"
                      method="post">
                    <button type="submit" onclick="return confirmation()">Delete</button>
                </form>
            </td>
        </tr>

    </table>
</div>

<script>
    function confirmation() {
        return confirm('Are you sure you want to do this?');
    }
</script>
</body>

</html>
